.hintContainer {
  position: relative;
  background: var(--clr-overlay-hint);
  color: var(--clr-whiteish);
  padding: var(--space-16px) var(--space-24px);
  border-radius: var(--radius-8px);
  text-align: center;
  min-width: 300px;
  max-width: min(400px, 92vw);
  transition: opacity 1s ease, filter 1s ease, transform 0.3s ease;
  box-shadow: var(--shadow-elevation-3);
  z-index: var(--z-hint-display);
  opacity: 0;
  filter: blur(0px);
  transform: translateY(10px);
  pointer-events: auto;
}

.hintContainer p {
  font-size: var(--fs-h5);
  margin-bottom: var(--space-8px);
}

.visible {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0);
  transition: opacity 1s ease, filter 1s ease, transform 0.3s ease;
  
  @starting-style {
    filter: blur(50px);
  }
}

.hidden {
  opacity: 0;
  filter: blur(50px);
  pointer-events: none;
}