.nextLevelButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--clr-overlay-hint);
  color: var(--clr-whiteish);
  font-size: var(--fs-h5);

  border: none;
  border-radius: var(--radius-8px);
  padding: var(--space-16-24px) var(--space-24-32px);
  cursor: pointer;
  pointer-events: auto;
  opacity: 0;
  transition: all 1.7s ease-in-out;
  animation: delayedEntry 0.5s ease-in-out 2s forwards;
  box-shadow: var(--shadow-elevation-2);
  z-index: var(--z-next-button);

  --random-y: 0px;
  --random-x: 0px;
  --random-active-y: 0px;

  @media (hover: hover) {
    &:hover {
      transform:
      translateY(var(--random-y)) 
      translateX(var(--random-x));
      scale: 0.3;
    }
    &:active {
      transform:
      translateY(var(--random-active-y));
    }
  }
}

@keyframes delayedEntry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
