:root {

/* COLORS */
--clr-bg:       oklch(0.4483 0.1098 245.05);
--clr-whiteish: oklch(0.9851 0      0     );
--clr-blackish: oklch(0.133  0.0021 196.91);
--clr-overlay-hint: oklch(0.3079 0.0661 242.03);
  
--gradient-1: linear-gradient(
    115deg,
    hsl(203deg 91% 29%) 0%,
    hsl(204deg 91% 29%) 26%,
    hsl(205deg 91% 29%) 43%,
    hsl(206deg 91% 29%) 58%,
    hsl(207deg 91% 29%) 74%,
    hsl(208deg 91% 29%) 100%);

--gradient-2: linear-gradient(
    115deg,
    hsl(203deg 91% 29%) 0%,
    hsl(203deg 88% 28%) 26%,
    hsl(203deg 86% 27%) 43%,
    hsl(203deg 82% 27%) 58%,
    hsl(203deg 80% 26%) 74%,
    hsl(203deg 78% 25%) 100%);
  
--gradient-3: linear-gradient(
    115deg,
    hsl(203deg 91% 29%) 0%,
    hsl(204deg 89% 29%) 26%,
    hsl(205deg 86% 29%) 43%,
    hsl(206deg 85% 29%) 58%,
    hsl(207deg 82% 29%) 74%,
    hsl(208deg 81% 29%) 100%);

--gradient-4: linear-gradient(
    115deg,
    hsl(203deg 91% 29%) 0%,
    hsl(205deg 89% 28%) 26%,
    hsl(206deg 87% 27%) 43%,
    hsl(207deg 85% 26%) 58%,
    hsl(209deg 83% 26%) 74%,
    hsl(210deg 81% 25%) 100%);

--gradient-5: linear-gradient(
    115deg,
    hsl(203deg 91% 29%) 0%,
    hsl(207deg 80% 29%) 26%,
    hsl(211deg 71% 29%) 43%,
    hsl(214deg 60% 30%) 58%,
    hsl(218deg 50% 30%) 74%,
    hsl(221deg 40% 30%) 100%);    

/* SPACING */
--space-4px:   4px;
--space-8px:   8px;
--space-12px: 12px;
--space-16px: 16px;
--space-24px: 24px;
--space-32px: 32px;
--space-48px: 48px;
--space-64px: 64px;
--space-96px: 96px;

/* Fluid Spacing: https://utopia.fyi/space/calculator?c=360,16,1.25,1280,16,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
--space-4-8px:   clamp(4px,  2.4348px +  0.4348vw,  8px);
--space-8-12px:  clamp(8px,  6.4348px +  0.4348vw, 12px);
--space-12-16px: clamp(12px, 10.4348px + 0.4348vw, 16px);
--space-16-24px: clamp(16px, 12.8696px + 0.8696vw, 24px);
--space-24-32px: clamp(24px, 20.8696px + 0.8696vw, 32px);
--space-32-48px: clamp(32px, 25.7391px + 1.7391vw, 48px);
--space-48-64px: clamp(48px, 41.7391px + 1.7391vw, 64px);
--space-64-96px: clamp(64px, 51.4783px + 3.4783vw, 96px);

/* BORDER RADIUS */
--radius-2px:   2px;
--radius-4px:   4px;
--radius-8px:   8px;
--radius-16px: 16px;
--radius-50px: 50px;

/* TRANSITIONS */
--transition-fast: 150ms ease;
--transition-normal: 300ms ease;
--transition-slow: 600ms ease;

/* CLOUD SIZES */
--cloud-size-mobile: 150px;
--cloud-size-desktop: 300px;
--cloud-size: clamp(var(--cloud-size-mobile), 15vw, var(--cloud-size-desktop));


  /* Z-index scale */
  --z-cloud-under: 1;
  --z-cloud-base: 2;
  --z-cloud-translucent: 3;
  --z-cloud-top: 4;
  --z-cloud-overlay: 5;
  
  --z-gui: 100;
  --z-next-button: 150;
  
  --z-zoom-overlay: 200;
  --z-zoom-content: 201;
  
  --z-splash: 300;

}