.menuButton {
  background-color: transparent;
  border: none;
  color: var(--clr-whiteish);
  cursor: pointer;
  padding: var(--space-8px);
  width: var(--space-48-64px);
}

.menuButton svg {
  width: 100%;
  height: 100%;
}

.menuButton:hover {
  filter: drop-shadow(0.5px 0.5px 1.5px var(--clr-whiteish));
  transform: translateY(-0.5px);
}
