.actionButton {
  padding: var(--space-12-16px) var(--space-24-32px);
  color: var(--clr-whiteish);
  background-color: var(--clr-overlay-hint);
  border: none;
  cursor: pointer;
  min-width: 128px;
  border-radius: (--radius-50px);
  font-weight: 400;
  transition: var(--transition-normal);
}

.primaryButton {
  background-color: var(--clr-overlay-hint);
  color: var(--clr-whiteish);
}

.primaryButton:hover:not(:disabled) {
  transform: translateY(-2px);
}

.primaryButton:active:not(:disabled) {
  transform: translateY(1px);
}

.secondaryButton {
  background-color: transparent;
  color: var(--clr-whiteish);
  border: 1px solid var(--clr-whiteish);
}

.secondaryButton:hover:not(:disabled) {
  background-color: var(--clr-whiteish);
  color: var(--clr-bg);
}

.levelButton {
  padding: var(--space-4-8px) var(--space-8-12px);
  border: 1px solid var(--clr-overlay-hint);
  display: flex;
  font-size: var(--fs-s);
  flex-direction: column;
  gap: var(--space-4px);
}