.actionButton {
  padding: var(--space-12px) var(--space-24-32px);
  color: var(--clr-whiteish);
  background-color: oklch(0.3021 0.0469 249.62);
  border: none;
  cursor: pointer;
  min-width: 128px;
  border-radius: var(--radius-50px);
  transition: var(--transition-normal);
  font-size: var(--fs-h6);
  box-shadow: var(--shadow-elevation-2);
}

.actionButton:hover:not(:disabled) {
  transform: translateY(-2px);
}

.actionButton:active:not(:disabled) {
  transform: translateY(1px);
}
