.levelDisplay {
  position: absolute;
  bottom: 0%;
  left: 50%;

  min-width: 264px;
  /* width: min(80%, 512px); */

  text-align: center;
  pointer-events: none;
  color: var(--clr-whiteish);
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  z-index: var(--z-zoom-ui);
  animation: fadeInOut 4s ease-in-out forwards;
  background-color: var(--clr-overlay-hint);
  padding: var(--space-16-24px);
  border-radius: var(--radius-16px);
}

.levelNumber {
  font-size: var(--fs-h4);
  text-transform: uppercase;
  opacity: 0.8;
}

.levelTitle {
  font-size: var(--fs-h3);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(30px);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
  85% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-30px);
  }
}