.guiContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}

.hintsSection {
  position: absolute;
  bottom: clamp(2rem, 5vh, 4rem);
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.controlsSection {
  position: absolute;
  top: clamp(var(--space-4-8px), 1.5vw, var(--space-8-12px));
  /* right: clamp(var(--space-4-8px), 1.5vw, var(--space-8-12px)); */
  pointer-events: auto;
  cursor: pointer;
}