.thresholdAdjuster {
  padding-top: var(--space-32px);
  display: flex;
  flex-direction: column;
  gap: var(--space-8px);
}

.label {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-8px);
  align-items: center;
  justify-content: center;
  font-size: var(--fs-p);
  margin-bottom: var(--space-4px);
}

.label p {
  padding-bottom: 2px;
}

.thresholdAdjusterInfoBtn {
  background-color: transparent;
  border: none;
  color: var(--clr-whiteish);
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  gap: var(--space-4px);
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  padding: var(--space-4px);
}

.controlsButton {
  background: none;
  border: none;
  color: var(--clr-whiteish);
  cursor: pointer;
  padding: var(--space-4px);
  border-radius: 50%;
  transition: all 0.3s ease;
  user-select: none;
}
.controlsButtonLeft {
  padding-right: 6px;
}
.controlsButtonRight {
  padding-left: 6px;
}

.controlsButton:hover:not(.disabled) {
  background: hsla(0, 0%, 100%, 0.3);
}

.controlsButton.disabled {
  color: var(--clr-greyish);
  cursor: not-allowed;
  opacity: 0.8;
}

.currentValue {
  min-width: 128px;
  font-size: var(--fs-p);
}