.cloudContainer {
  position: absolute;
  pointer-events: auto;
}

.cloud {
  position: relative;
  width: 200px;
  height: 120px;
  cursor: pointer;
  overflow: hidden;
}

.cloud.revealed {
  opacity: 0.6;
  cursor: default;
}

.cloudImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  
}

.floatingCloud {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  z-index: 10;
  background: transparent;
  /* Default state */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cloud.zoomed .textContent {
  opacity: 1;
  pointer-events: none;
  cursor: none;
  overflow: hidden;
}

.regularLayerText, .finalLayerText {
  font-size: var(--fs-h6);
}

.regularLayerText {
  color: var(--clr-blackish);
}

.finalLayerText {
  color: var(--clr-whiteish);
}